<div class="name">
	{{item.name}}
	<span class="price">
		{{item.price}}
	</span>
	<div {{bind-attr class=":description isHidden"}}>
		{{item.description}}
	</div>
	<button {{action "order"}}>Order this tasty treat</button>
</div>
