<div class="menuItem">
	<div class="header">
		{{item.name}} {{item.price}}
	</div>
	<button {{action "order"}}>Order this tasty treat</button>
	<br/>
	<div {{bind-attr class=":description isHidden"}}>
		{{item.description}}
	</div>
	
</div>
