{{outlet}}
<div id="menu">
<h2>Starters</h2>
{{menu-section model=starters order="order"}}
<h2>Mains</h2>
{{menu-section model=mains order="order"}}
<h2>Desserts</h2>
{{menu-section model=desserts order="order"}}
<h2>Beverages</h2>
{{menu-section model=beverages order="order"}}
</div>