{{outlet}}
<h2>Starters</h2>
{{menu-section model=starters}}
<h2>Mains</h2>
{{menu-section model=mains}}
<h2>Dessert</h2>
{{menu-section model=desserts}}
<h2>Mains</h2>
{{menu-section model=beverages}}