
{{#if hasItems}}
<h3>Order</h3>

<ul>
	{{#each orderItem in this}}
	<li>
		{{orderItem.name}}
	</li>
	{{/each}}
</ul>
<h3>Subtotal: £{{subTotal}}</h3>
<button {{action "order"}}>Order</button>
<button {{action "clearAll"}}>Clear All</button>
{{/if}}

{{!-- {{#if hasOrderedItems}} --}}
<ul>
	{{#each orderedItem in table.model.orderItems}}
	<li>
		{{orderedItem.id}} - {{orderedItem.state}}
	</li>
	{{/each}}
</ul>	

Total: £{{table.model.total}}
{{!-- {{/if}} --}}

{{outlet}}

