<div id="order">

{{#if hasItems}}
<h2>Order</h2>

<ul>
	{{#each orderItem in this}}
	<li>
		{{orderItem.name}}
	</li>
	{{/each}}
</ul>
<h3>Subtotal: £{{subTotal}}</h3>
<button {{action "order"}}>Order</button>
<button {{action "clearAll"}}>Clear All</button>
{{/if}}

{{outlet "table"}}

</div>
{{outlet}}