{{#if hasItems}}
<h3>Order</h3>

<ul>
	{{#each orderItem in this}}
	<li>
		{{orderItem.name}}
	</li>
	{{/each}}
</ul>
<h3>Subtotal: £{{subTotal}}</h3>
<button {{action "order"}}>Order</button>
<button {{action "clearAll"}}>Clear All</button>
{{/if}}

{{#if table.hasItems}}
<div id="table">
<h3>Ordered</h3>
<ul>
	{{#each orderedItem in table.model.orderItems}}
	<li>
		{{orderedItem.number}} x {{orderedItem.id}} - {{orderedItem.state}}
	</li>
	{{/each}}
</ul>	

Total: £{{table.model.total}}
</div>
{{/if}}

{{outlet}}

